ul.posts-list {
	margin: 1rem 0;
	list-style: none;

	li.post-item {
		border: 1px solid #b1b5c8;
		background-color: rgba(109, 97, 97, 0.02);
		margin: 1rem auto 4rem;
		max-width: 1100px;
		padding: 2rem 4rem;

		.title-section {
			h1.title { font-size: 1.6rem }


			img.edit-title-icon { cursor: pointer }

			.edit-title-icon-before {
				margin: 0 0 6.5px 10px;
				width: 28px;
				height: 28px;
			}

			.edit-title-icon-after {
				width: 30px;
				height: 30px;
			}

			form.edit-title-form {
				input.edit-title-input {
					width: 360px;
					font-size: 1.3rem;
					text-align: left;
					@media (max-width: 640px) { width: 300px }
					@media (max-width: 500px) { width: 250px }
					@media (max-width: 430px) { width: 200px }
				}

				button {
					img.complete-mark-icon {
						cursor: pointer;
						width: 28px;
						height: 28px;
					}
				}
			}

			.votes {
				font-size: 1.2rem;

				li.like-post {
					cursor: pointer;

					span.plus { color:  #45b545 }

					span.plus-number { color:  #45b545 }
				}

				li.dislike-post {
					cursor: pointer;

					span.minus { color: rgba(220, 103, 103, 0.88) }

					span.minus-number { color: rgba(220, 103, 103, 0.88) }
				}

				span.separator { margin: 0 0.8rem }
			}

			margin: 0  0 0.3rem 0;
		}

		.main-section {
			p.description { font-size: 1.2rem }
			img.edit-icon {
				cursor: pointer;
				width: 20px;
				height: 20px;
				margin: 0 0 4px 3px;
			}


			form.edit-description-form {
				button { margin: 0.35rem 0 0 0 }
				button.cancel-btn {
					margin-left: 0.35rem;
				}
			}

			ul.errors-list {
				list-style: none;

				li.error { color: rgba(255, 0, 0, 0.62) }
			}
		}

		.additional-section {
			margin: 0.3rem 0 0;

			ul.categories {
				h2.category {
					font-size: 1.25rem;
					font-weight: 500;
					color: #686767;

					&:hover { color: #2b2d2f }
				}

				h2.category.first {
					margin: 0 0.6rem 0 0;
				}

				h2.category.center { margin: 0 0.6rem }

				h2.category.last { margin: 0 0 0 0.6rem }
			}
		}


		h4.author {
			color: #4a6c8a;
			font-weight: 500;
			font-size: 1.35rem;
		}

		span.symbol {
			color: #4a6c8a;
			font-weight: 500;
			margin: 0 1rem 0 0;
		}

		span.create-date {
			color: #4a6c8a;
			font-weight: 500;
			font-size: 1.2rem;
		}
	}
}
