.app {
	@import './header';
	@import "./posts-page";
	@import './about-page';
}

h1, h2, h3, h4, h5, p, ul, li {
	padding: 0 0;
	margin: 0 0;
}

.right-side {
	text-align: right;
}

ul.inline-list {
	li.inline-block {
		display: inline-block;
	}
}

